<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title>Pustolovko Leaderboard</title>
    </head>
    <body>
        <div class="container-wrap">
            <section id="leaderboard">
                <nav class="ladder-nav">
                    <div class="ladder-title">
                        <h1>LEADERBOARD</h1>
                        <h5>LEVEL <%= level %></h5>
                    </div>
                    <div class="ladder-search">
                        <input type="button" id="back-button" value="BACK" class="back-button" />
                    </div>
                </nav>

                <table id="rankings" class="leaderboard-results" width="100%">
                    <thead>
                        <tr>
                            <th>RANK</th>
                            <th>NAME</th>
                            <th>SCORE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(row, i) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td>
                                <b> <%= row.split('-')[0] %> </b>
                            </td>
                            <td>
                                <%= row.split('-')[1].split(':')[0] %> minutes <%= row.split('-')[1].split(':')[1] %> seconds
                                <%= row.split('-')[1].split(':')[2] %> miliseconds
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </section>
        </div>
        <script src="/js/script.js"></script>
    </body>
</html>
